div.smMap {
    z-index: 0;
    padding: 0px!important;
    margin: 0px!important;
  //  cursor: default;
    cursor: url("../images/cursors/Pan.cur"),default;
    border:1px solid #3473b7;
}

div.smMapViewport {
    text-align: left;
}

div.smLayerDiv {
   -moz-user-select: none;
}

.smLayerGoogleCopyright {
    left: 2px;
    bottom: 2px;  
}
.smLayerGooglePoweredBy {
    left: 2px;
    bottom: 15px;   
}
.smControlAttribution {
    font-size: smaller; 
    right: 3px; 
    bottom: 0.5em;
    position: absolute; 
    display: block;
}
.smControlScale {
    right: 3px;
    bottom: 3em;
    display: block;
    position: absolute;
    font-size: smaller;
}
.smControlScaleLine {
   display: block;
   position: absolute;
   left: 10px;
   bottom: 15px;
   font-size: xx-small;
}
.smControlScaleLineBottom {
   border: solid 2px black;
   border-bottom: none;
   margin-top:-2px;
   text-align: center;
}
.smControlScaleLineTop {
   border: solid 2px black;
   border-top: none;
   text-align: center;
}

.smControlPermalink {
    right: 3px;
    bottom: 1.5em;
    display: block;
    position: absolute;
    font-size: smaller;
} 

div.smControlMousePosition {
    bottom: 0em;
    right: 3px;
    display: block;
    position: absolute;
    font-family: Arial;
    font-size: smaller;
}

.smControlOverviewMapContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
	background-color: #e5f3ff;
}


.smControlOverviewMapElement {
	border-left:1px solid #3473b7;
	border-top:1px solid #3473b7;
	padding-top: 4px;
	padding-left: 4px;
}

.smControlOverviewMapMinimizeButton {
    right: 0px;
    bottom: 1px;
    cursor: pointer;
}    

.smControlOverviewMapMaximizeButton {
    right: 0px;
    bottom: 1px;
    cursor: pointer;
}

.smControlOverviewMapExtentRectangle {
    overflow: hidden;
    /*background-image:url(../../image/blank.gif);*/
    border: 1px solid red;
	background:#69F;
	filter:alpha(opacity=50);/* IE */ 
	-moz-opacity:0.5;/* Moz + FF */ 
	opacity: 0.5; /* 支持CSS3的浏览器（FF 1.5也支持）*/
}
.smControlOverviewMapRectReplacement {
    overflow: hidden;
    cursor: url("../images/cursors/PanDown.cur"),move;
    background-image: url(../images/overview_replacement.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.smLayerGeoRSSDescription {
    float:left;
    width:100%;
    overflow:auto;
    font-size:1.0em;
}
.smLayerGeoRSSClose {
    float:right;
    color:gray;
    font-size:1.2em;
    margin-right:6px;
    font-family:sans-serif;
}
.smLayerGeoRSSTitle {
    float:left;font-size:1.2em;
}

.smPopupContent {
    padding:5px;
    overflow: auto;
}

.smHandlerBoxZoomBox {
    border: 2px solid red;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}
.smHandlerBoxSelectFeature {
    border: 2px solid blue;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}

.smPopupCloseBox {
  background: url("../images/close.gif") no-repeat;
  cursor: pointer;
}

.smFramedCloudPopupContent {
    padding: 5px;
    overflow: auto;
}

.smImageLoadError {
    background-color: pink;
    opacity: 0.5;
    filter: alpha(opacity=50); /* IE */
	display: none;
}

/**
 * Cursor styles
 */
 .smDefault {
     cursor: default;
 }
.smCursorWait {
    cursor: wait;
}
.smDragDown {
    cursor: url("../images/cursors/PanDown.cur"),move;
}
.smDragDownCanvas {
    cursor: move;
}
.smDragUp {
    cursor: url("../images/cursors/Pan.cur"),auto;
}

.smCursorPointer {
    cursor: pointer;
}

.smDrawBox {
    cursor: crosshair;
}
.smControlDragFeatureOver {
    /*cursor: move;*/
}
.smControlDragFeatureActive.smControlDragFeatureOver.smDragDown {
   /* cursor: -moz-grabbing;*/
}

/**
 * Layer switcher
 */
.smControlLayerSwitcher {
    position: absolute;
    top: 25px;
    right: 0px;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
    cursor: default;
}

.smControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: darkblue;
    width: 100%;
    height: 100%;
}
/*白色样式下*/
.smControlLayerSwitcher .layersDivWhite {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: darkblue;
    width: 100%;
    height: 100%;
}

.smControlLayerSwitcher .layersDiv .baseLbl,
.smControlLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.smControlLayerSwitcher .layersDiv .baseLayersDiv,
.smControlLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 3px;
}

.smControlLayerSwitcher .maximizeDiv,
.smControlLayerSwitcher .minimizeDiv {
    top: 0px;
    right: 0px;
    text-align: left;
    cursor: pointer;
}
.smControlLayerSwitcher .maximizeDiv{
    border: 3px solid #a5c8ec;
}

.smControlLayerSwitcher .maximizeDivWhite{
    top: 0px;
    right: 0px;
    cursor: pointer;
}

div.smControlLayerSwitcher {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 171px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0px 3px 3px;
    font-size: smaller;
    font-size: 13px;
    color: #4083c2;
    background-color: transparent;
    border: 3px solid #a5c8ec;
}
div.smControlLayerSwitcher div.layersDiv {
    padding-top: 25px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: #FFFFFF;
    width: 166px;
    height: 100%;
}
div.smControlLayerSwitcher div.layersDivWhite {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    width: 166px;
    height: 100%;
    color: #565656;
    box-shadow:0px 0px 3px #ababab;
    border:1px solid #d7d7d7;
    border-radius:4px;
}

.layerSwitcherHR{
    width: 95%;
}

input.inputElem {
    width: 14px;
    height:14px;
    margin-left: 3px;
    margin-right:4px;
    margin-bottom: 4px;
    margin-top: 4px;
    vertical-align: middle;
    border: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%,0%;
    cursor: pointer;
}
span.labelSpan {
    margin-left: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    height:20px;
    vertical-align: middle;
}
div.minimizeDiv .layerSwitcherContent{
    position: absolute;
    padding: 2px 40px;
}


/**
 * Animations
 */

.smLayerDiv .smTileImage {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

#popwin img{
    max-width: none;
}
/**
*绘制矩形框
*/
.qByBoundsBoxDiv {
    background-color: #304DBE;
    border: 2px solid #060abe;
    opacity: 0.3;
}
/**
* TiledVectorLayerEditor
*/
.smControlTiledVectorLayerEditor{
    width: 840px;
    height: 0px;
}
.smControlTiledVectorLayerEditor form{
    width: 92%;
    margin: auto;
}
.smControlTiledVectorLayerEditor li{
    margin-top: 5px;
    margin-bottom: 7px;
}
.smShowHideBtn-container{
    background-color: #dddddd;
}
.smShowHideBtn-container .smShowHideBtn{
    content: "";
    width: 16px;
    height: 16px;
    cursor: pointer;
    float: left;
}
.smShowHideBtn-container .smShowHideBtn:hover{
    background-color: #ffffff;
    border-color: #adadad;
    color: #333;
}
.smShowHideBtn-container .smShowHideBtn.show:hover{
    background-color: #ffffff;
    border-color: #adadad;
    color: #333;
}
.smShowHideBtnBottom-container{
    clear: left;
}
.smShowHideBtn-container .smLeftTopBtn{
    background: url("../images/right-bottom.png") no-repeat center;
}
.smShowHideBtn-container .smRightTopBtn{
    background: url("../images/left-bottom.png") no-repeat center;
}
.smShowHideBtn-container .smLeftBottomBtn{
    background: url("../images/right-top.png") no-repeat center;
}
.smShowHideBtn-container .smRightBottomBtn{
    background: url("../images/left-top.png") no-repeat center;
}
.smShowHideBtn-container .smLeftTopBtn.show{
    background: url("../images/left-top.png") no-repeat center;
}
.smShowHideBtn-container .smRightTopBtn.show{
    background: url("../images/right-top.png") no-repeat center;
}
.smShowHideBtn-container .smLeftBottomBtn.show{
    background: url("../images/left-bottom.png") no-repeat center;
}
.smShowHideBtn-container .smRightBottomBtn.show{
    background: url("../images/right-bottom.png") no-repeat center;
}
.smMainPanel{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    width: 100%;
    height: 212px;
}
.smMainPanel.hide{
    display: none;
}
.smPanel-header{
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 0px;
    width: 100%;
}
.smMainPanel-title{
    margin: 4px;
    padding-left: 16px;
    padding-bottom: 8px;
}
.smMainPanel-body{
    width: 100%;
    height: 167px;
    font-size: 0.9em;
}
.smPanelPointer{
    border: 2px solid rgba(0,0,0,0);
}
.smPanelPointer:hover{
    cursor: pointer;
    border: 2px solid #54cbd2;
}
.smPanelPointer.select{
    border: 2px solid #0e90d2;
}
.smLayerInfoPanel{
    width: 40%;
    float:left;
    left: 5px;
}
.smSubPanel{
    height: 100%;
    border: 2px solid #ddd;
    border-top: 0px;
}
.smPanel-title{
    padding-left: 5px;
}

.smSubPanel-body{
    overflow-y: auto;
    height: 142px;
}

.smLayerInfoLI ul{
    display: none;
}
.smLayerInfoLI.open ul{
    display: block;
}
.smEditPanel{
    display: none;
    width: 55%;
    float: right;
    right: 5px;
 }
.smEditPanel.show{
    display: block;
}
.smEditPanelControl{
    margin: 10px;
}
.smPanelCheckbox{
    float:left;
    margin-right: 10px;
}
input.smPanelValueInput{
    width: 47px;
    margin-left: 10px;
}
.smControlTiledVectorLayerEditor .smRegularTable{
    margin-top: 25px;
}
.smControlTiledVectorLayerEditor .smAdvanceTable{
    margin-top: 25px;
}
.smControlTiledVectorLayerEditor .smAdvanceTable.hide{
    display: none;
}
.smControlTiledVectorLayerEditor .smSecondTd{
    text-align: right;
}
.smControlTiledVectorLayerEditor .smSplitLine{
    border-bottom: 2px solid #CFCFCA;
    text-align: right;
    padding: 20px 85px 5px;
    margin-bottom: 15px;
}
.smControlTiledVectorLayerEditor .smSplitLineBottom.hide{
    border-bottom: 0px;
}
.smControlTiledVectorLayerEditor .smSplitLineTop.hide{
    display: none;
}

/**
* SuperMap.Tool.Slider
*/
.smToolSlider{
    border: 1px solid #A9A9A9;
    height: 6px;
    position: relative;
    display: inline-block;
}
.smToolSlider .smToolCompleteBar{
    content: " ";
    border: 2px solid #BCBCBC;
    height: 0px;
    margin-top: 1px;
}
.smToolSlider .smToolSliderBar{
    content: " ";
    border: 1px solid #A9A9A9;
    height: 19px;
    position: absolute;
    top: -8px;
    background-color: #EBEBE4;
}
.smToolSlider .smToolSliderBar.down{
    background-color: #ffffff;
}